.App {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-2 {
  gap: 8px;
}

.bg-yellow-300 {
  background-color: rgb(252 211 77);
}
